/* header */

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__logo img {
    width: 100px;
    height: 45px;

    padding-top: 50px;
}

.header__menu {
    float: right;
    padding-bottom: -10px;
    
}

.header__menu ul {
    padding-top: 25px;

}

.header__menu li {
    display: inline;
    font-size: 22px;
    font-weight: 700;
    
}

.header__menu li a {
    margin-left: 40px;
    line-height: 100px;
}

/* slider */
.slider__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__img { /* 이미지 보이는 영역 */
    position: relative;
    width: 1000px;
    height: 410px;
    overflow: hidden;
}

.slider__inner { /* 이미지를 감싸고 있는 부모 : 움직이는 부분 */
    display: flex;
    flex-wrap: wrap ;
    width: 4000px; /* 총 이미지 */
    height: 392px;

   
}

.slider { /* 개별적인 이미지 */
    position: relative;
    width: 1000px;
    height: 392px;
}

/* ad__wrap */
#adType {
    margin-bottom: 40px;
}
.ad__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ad__box01 {
    width: 49%;
    height: 150px;
    background-color: #f2f2f2;
}
.ad__box02 {
    width: 49%;
    height: 150px;
    background-color: #f2f2f2;
}
.box__inner {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}
.text {
    text-align: left;

}
.ad__box01 .text {
    padding-right: 35px;
}
.ad__box02 .text {
    padding-right: 65px;
}

.text .con__test {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
   
}
.text .con__desc{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
}
.text .sub {
    display: flex;
    flex-wrap: wrap;
}
.text .sub img{
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
.text .sub .yes {
    font-size: 16px;
    font-weight: 700;
    padding-right: 10px;
}
.text .sub .time {
    font-size: 12px;
    padding-top: 3px;
}
.ad_smoll img {
    width: 80px;
    height: 75px;
}

/* ContType */
#ContType {
    margin-bottom: 50px;
}
.sudCont1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sudCont2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cont__inner .Title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}
.cont__inner .Title ul {
    overflow: hidden;
    
}
.cont__inner .Title li {
    float: left;
    margin-right: 15px;
    list-style: none;
   
}


.cont__inner .Title li.active a {
    color: #000;
}
.cont__inner .Title li:nth-child(2) {
    border-left: 3px solid #000;
    padding-left: 15px;
}
.cont__inner .Title li a{
   color: #b3b3b3;
   display: inline-block;
}


.imgBox {
    position: relative;
}
.imgBox img {
    width: 315px;
    height: 315px;
    margin-bottom: 10px;
    
}
.imgBox .deac_box {
    position: absolute;
    padding: 15px;
    top: 15px;
    left: 15px;
    /* width: 45px;
    height: 45px; */
    background-color: #444;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: left;

}
.no__foll {
    display: flex;
    flex-wrap: wrap;
}

.imgBox .deac {
    position: absolute;
    top: 2px;
    left: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.box_desc {
    padding-right: 140px;
}
.box_desc > h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.box_desc .pay_woon {
    display: flex;
    flex-wrap: wrap;
}
.box_desc .pay_woon p:nth-child(1){
    font-size: 16px;
    font-weight: 700;
    padding-right: 5px;
}
.box_desc .pay_woon p:nth-child(2){
    font-size: 14px;
    font-weight: 500;
    color: #666;
    padding-top: 2px;

}
.pay_want {
    padding-top: 10px;
    padding-left: 28px;
}
.pay_want img {
   width: 35px;
   height: 35px;
}

/* footer__inner */

.footer__inner {
    padding: 40px;
    flex-wrap: wrap;
    display: flex;    
}
.footer__logo {
    width: 180px;
    height: 60px;
    padding-left: 10px;
    padding-right: 160px;
}
.footer__inner {
    background-color: #222;
    font-weight: 700;
}
.footer__menu {
    padding-top: 20px;
    
}
.footer__menu li {
    display: inline-block;
    padding-right: 30px;

}
.footer__menu li a {
    color: #fff;
    border-left: 1px solid #777;
    padding-left: 40px;
    
}
.footer__menu li:nth-child(1) a{
    border : none
}
.footer__box {
    margin-top: 40px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}
.footer__box .footer__left p {
    color: #777;
    margin-bottom: 10px;
}
