<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃2</title>

    <link rel="stylesheet" href="../assets/css/stlyle.css">
</head>
<!-- 휴지통 -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> 

<body>
    <header id="header">
        <h1><a href='#'>라인 중학교 1학년 코딩반</a></h1>
        <span>이름 : 박선혜</span>
    </header>
    <!-- //header -->
    <main id="main">
        <header class="main_header">
            <h2>HTML <em>레퍼런스 북</em></h2>
        </header>
        <nav class="main_menu">
        <ul>
            <li><a href="../alphabet.html">알파벳</a></li>
            <li><a href="../basic.html">기초 문법</a></li>
            <li><a href="../bolck_inline.html">블록구조/인라인 구조</a></li>
            <li><a href="../wed.html">웹표준/웹접근성/웹호환성</a></li>
            <li><a href="../semantic.html">시멘틱 태그</a></li>
            <li><a href="../seo.html">검색엔진시스템(SEO)</a></li>
        </ul>
        <ul>
            <li><a href="layout01.html">레이아웃1</a></li>
            <li class="active"><a href="layout02.html">레이아웃2</a></li>
            <li><a href="layout03.html">레이아웃3</a></li>
            <li><a href="layout04.html">레이아웃4</a></li>
            <li><a href="layout05.html">레이아웃5</a></li>
        </ul>

        </nav>
        <div class="main_refer">
            <div class="document">
                <h2 class="t_tit">레이아웃02</h2>
                <p class="t_desc">
                이러한 페이지 레이아웃은 웹페이지의 계층 구조를 쉽게 파악할 수 있다는 장점이다. 
                중요한 글 또는 최근 글을 쉽게 파악할 수 있으며, 페이지를 스캔하고 다른 컨텐츠에 집중할 수도 있습니다.
                </p>
                <h3 class="t_tit2">float과 flex, grid 이용한 기본형 레이아웃</h3>
                <p class="t_desc">
                    float은 <i>'flotat: left;'</i>을 사용했을 때 깨진 부분에 <i>'clear: both;'</i> 나 부모 박스에 <i>'overflow: hidden'</i>를 사용하며, 
                    flex는 부모 태그에 <i>display: flex;</i>를 붙여, <i>'flex-wrap'</i>를 사용한다. 
                    grid는 <i>'display: grid'</i>와 같이 부모 요소에 꼭 들어가야할 속성은 <i>grid-template-areas</i>
                    <i>grid-template-columns (가로 길이 지정), grid-template-rows(세로 길이 지정)</i>이다.
                    
                    자식 요소에는 각각 요소에 이름을 지정해주기 위한 <i>'grid-area'</i> 속성이 필요합니다.
                </p>
                <div class="t_iframe">
                    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F5noe0qhFTMD5Pem2MX9YqH%2F%25EB%25A0%2588%25EC%259D%25B4%25EC%2595%2584%25EC%259B%2583%3Fnode-id%3D66%253A64" allowfullscreen></iframe>
                </div>

                <h3 class="t_tit2">float과 flex, grid 이용한 반응형 레이아웃</h3>
                <p class="t_desc">반응형은 기본형에서 쓴 <i>px 수치들을 % 으로 바꾸어 작업</i>을 해줘야 합니다.</p><br>
                
                <h4 class="t_tit3">01. float 반응형 레이아웃</h4>
                <div class="t_iframe">
                    <iframe height="300" style="width: 100%;" scrolling="no" title="float02_02" src="https://codepen.io/packsunhye/embed/vYRJmGG?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                        See the Pen <a href="https://codepen.io/packsunhye/pen/vYRJmGG">
                        float02_02</a> by Packsunhye (<a href="https://codepen.io/packsunhye">@packsunhye</a>)
                        on <a href="https://codepen.io">CodePen</a>.
                    </iframe>
                </div><br>

                <h4 class="t_tit3">02. flex 반응형 레이아웃</h4>
                <div class="t_iframe">
                    <iframe height="300" style="width: 100%;" scrolling="no" title="flex02_02" src="https://codepen.io/packsunhye/embed/LYdjyqR?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                        See the Pen <a href="https://codepen.io/packsunhye/pen/LYdjyqR">
                        flex02_02</a> by Packsunhye (<a href="https://codepen.io/packsunhye">@packsunhye</a>)
                        on <a href="https://codepen.io">CodePen</a>.
                    </iframe>
                </div><br>

                <h4 class="t_tit3">03. grid 반응형 레이아웃</h4>
                <div class="t_iframe">
                    <iframe height="300" style="width: 100%;" scrolling="no" title="grid02_2" src="https://codepen.io/packsunhye/embed/rNdzwaV?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                        See the Pen <a href="https://codepen.io/packsunhye/pen/rNdzwaV">
                        grid02_2</a> by Packsunhye (<a href="https://codepen.io/packsunhye">@packsunhye</a>)
                        on <a href="https://codepen.io">CodePen</a>.
                    </iframe>
                </div><br>


            </div>
        </div>
    </main>
    <!-- /main -->
    <footer id="footer">
        <a href="mailto:sunhey9810@gmail.com">sunhey9810@gmail.com</a>
    </footer>
    <!-- footer -->
</body>
</html>