li {
    list-style: none;
}

.game__frame {
    display: none;
}
.game__frame.show{
    display: block;
}
.game__inner {
    padding: 20px;
    width: 800px;
    height: 600px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.game__inner .game__audio {}
.game__title {
    display: flex;
    justify-content: space-between;
}
.game__title > div {
    font-size: 24px;
    color: #fff;
}
.game__inner h2 {
    font-weight: bold;
    text-align: center;
    font-size: 24px;    
    color: #fff;
    margin-bottom: 7px;
}
.game__inner .desc {
    font-size: 18px;
    /* font-weight: bold;   */
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}
.game__inner .time {
    margin: 0 auto;
    text-align: center;
    width: 120px;
    margin-top: 20px;
    /* line-height: 15px; */
    padding: 12px 0;
    color: #a261ff;
    background-color: #000;
    border: 5px ridge #ffffff;
    font-size: 24px;
}
.game__inner .search__box {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.game__inner .search__anwers {
    text-align: center;
    margin-top: 10px;
    
    /* padding-bottom: 20px; */

    display: none;
}
.game__inner .search__anwers span {
    display: inline-block;
    border: 2px solid #fff;
    background-color: #a261ff;
    padding: 10px 20px;
    color: #000;
    border-radius: 30px;
    margin: 3px;
}

.game__inner .search__MissAnwers {
    text-align: center;
    margin-top: 10px;
    height: 135px;
    overflow-y: scroll;
    border-top: 2px dashed #fff;
    padding-bottom: 20px;
    padding-top: 10px;

    display: none;
}
.game__inner .search__MissAnwers span {
    display: inline-block;
    border: 2px solid #fff;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    margin: 3px;
    
}
.game__inner .search__list {
    overflow-y:scroll;
    height: 270px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;

    /* display: none; */
}

.game__inner .search__list > span {
    display: inline-block;
    border: 2px solid #000;
    background-color: #fff;
    padding: 10px 20px;
    color: #000;
    border-radius: 30px;
    margin: 3px;
    
}

.search__list::-webkit-scrollbar, .search__MissAnwers::-webkit-scrollbar {
    width: 13px; /*스크롤바의 너비*/
}

.search__list::-webkit-scrollbar-thumb,.search__MissAnwers::-webkit-scrollbar-thumb  {
    background-color: #a261ff; /*스크롤바의 색상*/
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 5px;
}

.search__box label {
    display: none;
}
.search__box input {
    border: 2px solid #46d5ee;
    padding: 15px 40px;
    width: 50%;
    border-radius: 50px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
}
.search__box .start {
    position: absolute;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    background: #a261ff;
    width: 50%;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 15px 40px;
    color: #000;
    cursor: pointer;

    /* display: none; */
}

.search__info.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 10px;
    padding-bottom: 20px;
    color: #fff;
    border-bottom: thick double #fff;
}
.search__audio {
    float: right;
    margin-top: 10px;
    /* text-align: center; */
    /* margin-bottom: 10px; */
    cursor: pointer;
}
.search__audio .play {
    display: none;
}

.search__result {
    display: none;
}
.search__result.show{
    display: block;
    margin: 0 auto;
}
.search__result .result{
    padding: 30px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.search__result .restart {
    border: 2px solid #fff;
    background-color: #a261ff;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    cursor: pointer;
    padding: 6px;
    margin-bottom: 20px;
}
