@import url('https://webfontworld.github.io/NexonMabinogi/MabinogiClassic.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MabinogiClassic';
    font-weight: normal;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: none;
}

#header {
    position: fixed;
    width: 100%;
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

    z-index: 2;
}

#header h1 {
    font-size: 20px;
    color: #a261ff;
    padding: 5px 0;
    font-weight: normal;
}

#header .time {
    color: #46d5ee;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    color: #46d5ee;
    text-align: center;
}

#footer .agent {}

.mac #footer {}

.screenWinds #footer {}

.icon1 {
    position: absolute;
    left: 170px;
    top: 150px;
    width: 54px;
}

.icon1 img {
    width: 54px;
}

.icon1 span {
    display: block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon2 {
    position: absolute;
    left: 170px;
    top: 250px;
    width: 54px;
}

.icon2 img {
    width: 54px;
}

.icon2 span {
    display: block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon3 {
    position: absolute;
    left: 170px;
    top: 350px;
    width: 73px;
}

.icon3 img {
    width: 54px;
}

.icon3 span {
    display: block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon4 {
    position: absolute;
    left: 170px;
    top: 450px;
    width: 86px;
}

.icon4 img {
    width: 54px;
}

.icon4 span {
    display: block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon5 {
    position: absolute;
    left: 170px;
    top: 550px;
    width: 54px;
}

.icon5 img {
    width: 54px;
}

.icon5 span {
    display: block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon6 {
    position: absolute;
    left: 170px;
    top: 650px;
    width: 54px;
}

.icon6 img {
    width: 54px;
}

.icon6 span {
    display: block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.cusor {
    position: absolute;
    left: 0;
    top: 0;
    /* background: url(../img/cursor.cluster.png) no-repeat; */
    /* background-size: 20px; */
    /* cursor: none; */
    user-select: none;
    pointer-events: none;
    z-index: 100;
}

.cusor img {
    height: 36.5px;
    width: 20px;
}

/* screen */


.screen {
    z-index: -200;
}

.screen.show {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.screen__btn {
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 10011;

    border: 4px ridge rgb(161, 161, 161);
    background-color: rgb(202, 202, 202);

    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    font-family: "DungGeunMo";
}

.screen__btn:active {
    background-color: rgb(161, 161, 161);
    border: 4px ridge rgb(199, 199, 199);
}

.screen .screenWinds {
    min-width: 675px;
    min-height: 445px;

    background-color: #c7c7c7;
    padding: 4px;
    border-left: 2px solid #FCFCFC;
    border-top: 2px solid #FCFCFC;
    border-right: 2px solid #2A2A2A;
    border-bottom: 2px solid #2A2A2A;

    /* visibility: hidden; */
    transform: scale(0);
}

.screenWinds.show {
    visibility: visible;
    animation: foldIn 0.3s ease forwards;
}

@keyframes foldIn {
    0% {
        transform: scaleX(0) scaleY(0.001);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

.screenWinds.hide {
    visibility: hidden;
    animation: foldOut 0.25s ease backwards;
}

@keyframes foldOut {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    50% {
        transform: scaleX(1) scaleY(0);
    }

    100% {
        transform: scaleX(0) scaleY(0.001);
    }
}

.title-bar {
    background-color: #693599;
    padding: 4px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title-bar>.minimize,
.title-bar>.maximize,
.title-bar>.close {
    width: 26px;
    height: 22px;
    background-color: #c7c7c7;
    margin-left: 4px;
    border-left: 2px solid #FCFCFC;
    border-top: 2px solid #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title-bar>.minimize:hover,
.title-bar>.maximize:hover,
.title-bar>.close:hover {
    background-color: #bababa;
    border-left: 2px solid #2A2A2A;
    border-top: 2px solid #2A2A2A;
    border-right: 2px solid #FCFCFC;
    border-bottom: 2px solid #FCFCFC;
}

.title-bar>.minimize {
    align-items: flex-end;
}

.title-bar>.minimize>.symbol {
    width: 60%;
    height: 3px;
    background-color: #000000;
    margin-bottom: 2px;
}

.title-bar>.maximize>.symbol {
    width: 70%;
    height: 80%;
    border: 2px solid #000000;
    border-top-width: 4px;
}

.title-bar>.close>.symbol {
    width: 70%;
    height: 3px;
    background-color: #000000;
    transform: rotate(45deg);
}

.title-bar>.close>.symbol::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transform: rotate(90deg);
}

.menu-bar>span {
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    font-family: "DungGeunMo";
    margin: 0 4px 0 4px;
}

.menu-bar>span::first-letter {
    text-decoration: underline;
}

.menu-bar>span:hover {
    background-color: #bababa;
}

.menu-bar>span.active {
    background-color: #bababa;
    border-top: 4px ridge #cbcbcb;
    border-left: 4px ridge #fbfbfb;
    border-right: 4px ridge #dbdbdb;

    color: rgb(94, 94, 94);
}

.content-container {
    border-left: 2px solid #2A2A2A;
    border-top: 2px solid #2A2A2A;
    border-right: 2px solid #FCFCFC;
    border-bottom: 2px solid #FCFCFC;
}

.content-container>.content {
    display: flex;
    height: 445px;

}

.content-container>.content>.main {
    width: 100%;
    height: 100%;
    background-color: #0f0f13;

    overflow: scroll;

}

.content .main .active {
    display: block;
}

.content .main>div {
    display: none;
}