.tetris__wrap {
    display: none;
}

.tetris__wrap.show {
    display: block;
}

.tetris__inner {
    padding: 15px;
    /* padding-top: 90px; */
    width: 460px;

    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgb(0, 0, 0);
    border: 3px solid rgb(244 224 255);
    animation: flicker 0.5s infinite alternate;
}

/* .tetris___start */
.tetris___start {
    display: none;
    color: #fff;
    height: 500px;
    text-align: center;
}

.tetris___start.show {
    display: block;
}

.tetris___start .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.tetris___start .rul {
    /* margin-top: 30px; */
    font-size: 18px;
    padding: 30px;
    text-align: center;
}

.tetris___start .rul>p {
    margin-bottom: 20px;
    font-size: 24px;
}

.tetris___start .rul>ul {
    text-align: left;
}

.tetris___start .rul ul li {
    margin-bottom: 10px;
}

.tetris___start .use {
    padding: 10px 30px;
    border-radius: 15px;
    text-align: center;
    background: #6d37ef;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
}

.tetris___start .use:hover {
    background: #20a0eb;
    color: #fff;
}

/* .tetris___restart */
.tetris___restart {
    display: none;
    color: #fff;
}

.tetris___restart.show {
    display: block;
}

.tetris__play {
    display: none;
}

.tetris__play.show {
    display: block;
}

.playground {
    /* display: none; */

}

.playground .tetris__dec {
    color: #fff;
    text-align: center;
}

.dex_top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.desc_p {
    padding: 15px;
}

.playground>ul {
    border: 2px solid rgb(101, 49, 221);
}

.playground>ul>li {
    list-style: none;
    width: 100%;
    height: 35px;
}

.playground>ul>li>ul {
    display: flex;
}

.playground>ul>li>ul>li {
    list-style: none;
    width: 35px;
    height: 35px;
    border: 0.5px solid rgb(53, 47, 58);

}


/* tetris___restart */
.tetris___restart {
    text-align: center;
}

.tetris___restart .endTop {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.tetris___restart .endRul {
    padding: 15px;
    padding-top: 30px;
    font-size: 20px;
}

.tetris___restart .endFine {
    padding-bottom: 10px;
}

.tetris___restart .endFine p {
    margin: 10px;
}

.tetris___restart .useEnd {
    padding: 10px 30px;
    border-radius: 15px;
    text-align: center;
    background: #6d37ef;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
    margin-bottom: 20px;
}

.tetris___restart .useEnd:hover {
    background: #20a0eb;
    color: #fff;
}

.Tmino {
    border: 1px solid #ecddff81 !important;
    background-color: #24ca58;
    box-shadow: 0px 0px 40px 0px #6d42a2;
}

.Imino {
    border: 1px solid #beeeff6d !important;
    background-color: #1997c5;
    box-shadow: 0px 0px 40px 0px #1997c5;
}

.Omino {
    border: 1px solid #fff5d070 !important;
    background-color: #ebc73b;
    box-shadow: 0px 0px 40px 0px #ebc73b;
}

.Zmino {

    border: 1px solid #ffd1e05e !important;
    background-color: #d11b57;
    box-shadow: 0px 0px 40px #d11b57;
}

.Smino {
    border: 1px solid #dfffc673 !important;
    background-color: #59a51e;
    box-shadow: 0px 0px 40px #50961a;
}

.Smino {
    border: 1px solid #ccdeff7c !important;
    background-color: #9dd618;
    box-shadow: 0px 0px 40px #9dd618;
}

.Jmino {
    border: 1px solid #ffead373 !important;
    background-color: #e78616;
    box-shadow: 0px 0px 40px #e78616;
}

.Lmino {
    border: 1px solid #7ca5ffba !important;
    background-color: #3538f0;
    box-shadow: 0px 0px 40px #686bff;
}

@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        box-shadow:
            0 0 0.5rem #fff,
            inset 0 0 0.1rem #fff,
            0 0 3rem 2px rgb(140 115 255),
            inset 0 0 0rem 3px rgb(140 115 255),
            0 0 0rem 3px rgb(140 115 255),
            inset -4px -5px 3rem 2px rgb(140 115 255)
    }
}