/* img type */

.image__inner {
    display: flex;
    justify-content: space-between;
}
.image {
    width: 49%;
    height: 370px;
    color: #fff;
    padding: 200px 30px 30px 30px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
}
.image.img1 {
    background: url(../../../site_img/imgType01_01.png) no-repeat center;
    
}
.image.img2 {
    background: url(../../../site_img/imgType01_02.png) no-repeat center;
}
.image.img1:hover,.image.img2:hover  {
    transform: scale(1.01);
    filter: brightness(110%);
    
}
.image__title {
    font-size: 32px;
    margin-bottom: 10px;
}
.image__desc {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.image__btn {
    font-size: 16px;
    color: #fff;
    background-color: #1f1d94af;
    padding: 10px 20px;
    display: inline-block;
}
.image__btn.yellow {
    background-color: #626cc9b6;
}

@media(max-width : 460px){
    .image__inner {
        width: 100%;
        flex-direction: column;
       
    }
    .image {
        width: 100%;
        margin-bottom: 10px;
    }
    .image__title {
        font-size: 28px;
    }
    .image__desc {
        font-size: 16px;
    }
}
   
